/* Font */
/* Colors  */
/* General classes  */
.hide {
  display: none;
}

/* Navbar */
body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #FAFAF7;
  display: flex;
  font-size: 21px;
  padding: 20px;
  /*     position:fixed; 
      width: 100%; */
}
nav .nav__name {
  color: #28AFB0;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  width: 20%;
}
nav .position {
  color: #5762D5;
  line-height: 25px;
  font-size: 20px;
  font-weight: 500;
}
nav .navbar__menu {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
nav .navbar__menu a {
  color: #080357;
  font-weight: 500;
  cursor: pointer;
}
nav .navbar__menu a :hover {
  color: #F4D35E;
  transition: 300ms;
}
nav .navbar__menu div {
  align-items: center;
  display: flex;
  justify-content: center;
}
nav .navbar__menu div span {
  margin-left: 10px;
}

#about {
  background-color: #080357;
}
#about .hero {
  background-image: url("/images/hero-bg.png");
  background-size: cover;
  height: 380px;
}
#about .hero .hero__content {
  background-color: rgba(4, 3, 18, 0.71);
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}
#about .hero .hero__content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  line-height: 70px;
  font-weight: 400;
}
#about .hero .hero__content h1 .blue-rectangle {
  background-color: #5762D5;
  padding-left: 5px;
  padding-right: 5px;
}
#about .hero .hero__content h1 .red-rectangle {
  background-color: #EC4067;
  padding-left: 5px;
  padding-right: 5px;
}

.hero__description {
  margin: 0 auto;
  width: 90%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.hero__description h2 {
  color: #FAFAF7;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 45px;
}
.hero__description p {
  font-size: 20px;
  line-height: 30px;
  color: #FAFAF7;
  margin-bottom: 20px;
  font-weight: 400;
}
.hero__description .focus {
  font-weight: 600;
}
.hero__description .focus span {
  color: #F4D35E;
}

#projects {
  background-color: #5762D5;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects h2 {
  color: #FAFAF7;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
#projects .instructions {
  align-self: flex-start;
  margin-left: 170px;
  color: #FAFAF7;
  font-size: 20px;
}
#projects .project-line {
  display: flex;
  width: 85%;
  margin: 30px 0;
  justify-content: space-around;
}
#projects .project-line .project__card {
  width: 538px;
  height: 370px;
  background-color: #FAFAF7;
  padding: 15px;
  border-radius: 7px;
}
#projects .project-line .project__card .card__image {
  height: 271px;
  position: relative;
  cursor: pointer;
}
#projects .project-line .project__card .card__image .decription__background {
  align-items: center;
  background-color: rgba(4, 3, 18, 0.71);
  color: #FAFAF7;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  height: 271px;
  justify-content: center;
  padding: 0px 20px;
  position: absolute;
  top: 0px;
}
#projects .project-line .project__card .card__image .decription__background p {
  margin-top: 0px;
  font-weight: 400;
}
#projects .project-line .project__card h3 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
  color: #28AFB0;
}
#projects .project-line .project__card p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
}
#projects .project-line .project__card .buttons {
  display: flex;
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
  justify-content: space-around;
}
#projects .project-line .project__card .buttons .github {
  padding: 5px;
  text-align: center;
  width: 120px;
  border-radius: 5px;
  color: #020402;
  background-color: #F4D35E;
}
#projects .project-line .project__card .buttons .deployment {
  padding: 5px;
  text-align: center;
  width: 120px;
  border-radius: 5px;
  color: #FAFAF7;
  background-color: #28AFB0;
}

#Skills {
  padding: 40px;
}
#Skills h2 {
  color: #080357;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}
#Skills h3 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 130px;
}
#Skills .skills__container {
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  border-radius: 11px;
}
#Skills .skills__container .line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

/*# sourceMappingURL=styles.css.map */
