/* Font */

$main-font: 'Poppins', sans-serif;

/* Colors  */

$color-pale-white: #FAFAF7;
$color-yellow: #F4D35E;
$color-liberty-blue: #5762D5;
$color-soft-black: #020402;
$color-paradise-pink: #EC4067;
$color-king-blue: #080357; 
$color-teal: #28AFB0;
$color-hover-black: rgba(4, 3, 18, 0.71);

/* General classes  */

.hide{
    display: none;
}

.show{
    display: flex!important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .9;
    z-index: 11;
  }

.language{
    cursor: pointer;
}

/* Navbar */

body{
    font-family: $main-font;
    padding-top: 130px;
}
 
nav{
    background-color: $color-pale-white;
    display: flex;
    font-size: 21px;
    padding: 20px;
    .nav__name{
        color: $color-teal;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 30px;
        width: 190px;
    }
    .position{
        color: $color-liberty-blue;
        line-height: 25px;
        font-size: 18px;
        font-weight: 500;
    }
    #menu_icon{
        display: none;
    }
    #close_icon{
        display: none;
    }
    #menu__container{
        display: flex;
        align-items: center;
        width: 92%;
        justify-content: space-around;
        .navbar__menu{
            display: flex;
            width: 85%;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            margin-left: 40px;
            a{
                color: $color-king-blue;
                font-weight: 500;
                cursor: pointer;
                :hover{
                    color: $color-yellow;
                    transform: scale(1.1);
                    transition: 300ms;
                }
            }
            div{
                align-items: center;
                display: flex;
                justify-content: center;
                span{
                    margin-left: 10px;
                }
            }
        }
    }

}

#about{
    background-color: $color-king-blue;
    .hero{
        background-image: url("/images/hero-bg.png");
        background-size: cover;
        height: 380px;
        .hero__content{
            background-color: $color-hover-black;
            color: white;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            justify-content: space-around;
            h1{
                font-family: $main-font;
                font-size: 42px;
                line-height: 70px;
                font-weight: 400;
                .blue-rectangle{
                    background-color: $color-liberty-blue;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                .red-rectangle{
                    background-color: $color-paradise-pink;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
}

.hero__description{
    margin: 0 auto;
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    h2{
        color: $color-pale-white;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 45px;
    }
    p{
        font-size: 20px;
        line-height: 34px;
        color: $color-pale-white;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .focus{
        font-weight: 600;
        span{
            color: $color-yellow;
        }
    }
}

#projects{
    background-color: $color-liberty-blue;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        color: $color-pale-white;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }
    .instructions{
        align-self: flex-start;
        margin-left: 170px;
        color: $color-pale-white;
        font-size: 20px;
        margin-top: 30px;
    }
    .project-line{
        display: flex;
        width: 85%;
        margin: 30px 0;
        justify-content: space-around;
        .project__card{
            width: 538px;
            height: 370px;
            background-color: $color-pale-white;
            padding: 15px;
            border-radius: 7px;
            .card__image{
                height: 271px;
                position: relative;
                cursor: pointer;
                .decription__background{
                    align-items: center;
                    background-color: $color-hover-black;
                    color: $color-pale-white;
                    font-size: 18px;
                    line-height: 28px;
                    display: none;
                    height: 271px;
                    justify-content: center;
                    padding: 0px 20px;
                    position: absolute;
                    top: 0px;
                    p{
                        margin-top: 0px;
                        font-weight: 400;
                    }
                }
            }
            h3{
                font-size: 20px;
                margin-top: 10px;
                font-weight: 600;
                color: $color-teal;
            }
            p{
                font-size: 18px;
                margin-top: 10px;
                font-weight: 500;
            }
            .buttons{
                display: flex;
                width: 60%;
                margin: 0 auto;
                margin-top: 15px;
                justify-content: space-around;
                .github{
                    padding: 5px;
                    text-align: center;
                    width: 120px;
                    border-radius: 5px;
                    color: $color-soft-black;
                    background-color: $color-yellow;
                }
                .deployment{
                    padding: 5px;
                    text-align: center;
                    width: 120px;
                    border-radius: 5px;
                    color: $color-pale-white;
                    background-color: $color-teal;
                }
            }
        }

    }
}

.github:hover{
    background-color: $color-king-blue!important;
    color: $color-pale-white!important;
    transition: .4s;
}


.deployment:hover{
    background-color: $color-king-blue!important;
    color: $color-pale-white!important;
    transition: .4s;
}




#Skills{
    padding: 40px;
    h2{
        color: $color-king-blue;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }
    h3{
        font-size: 27px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-left: 130px;
    }
    .skills__container{
        width: 80%;
        margin: 0 auto;
        padding: 25px;
        box-shadow:  3px 3px 30px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 40px;
        border-radius: 11px;
        .line{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px 0px;
        }
    }
}

#Contact{
    animation: slowshow;
    animation-duration: 2s;
    animation-timing-function: ease;
    background-color: $color-soft-black;
    padding: 40px 0;
    h2{
        color: $color-pale-white;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }
    .information__container{
        display: flex;
        justify-content: space-around;
        width: 85%;
        margin: 0 auto;
        div{
            margin-top: 40px;
            display: flex;
            align-items: center;
        }
        img{
            margin-right: 20px;
        }
        p{
            color: $color-pale-white;
            font-size: 24px;
        }
    }
    .socialmedia{
        width: 72%;
        margin: 0 auto;
        margin-top: 40px;
        a{
            margin-left: 30px;
        }
    }
}

/* Animations */

@keyframes showElement {
    from {
      opacity: 0.1;
      transform: translateY(-15%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .showOnScroll{
    animation: showElement 900ms linear;
  }

  /* Media queries */

  @media (max-width: 1370px) {
    nav{
        #menu__container{
            .navbar__menu{
                width: 100%;
            }  
        }
    }  
    #projects{
        .project-line{
          width: 95%;
        }
    }
    #Skills{
        h3{
            margin-left: 0px;
        }
        .skills__container{
            width: 95%;
        }
    }
  }

  @media (max-width: 1212px) {  
    nav{
        flex-direction: column;
        align-items: center;
        .nav__name{
            width:600px;
            text-align: center;
            margin-bottom: 10px;
        }
        #menu__container{
            .navbar__menu{
                margin-left: 0;
            }
        }
    }
    #projects{
        .instructions{
            margin-bottom: 30px;
        }
        .project-line{
          flex-direction: column;
          align-items: center;
          margin-top: 0;
          .project__card:nth-child(2n){
              margin-top: 30px;
          }
        }
    }
  }

  @media (max-width: 1150px){
    #Skills{
        .skills__container{
            width: 95%;
            .line{
                flex-direction: column;
                padding: 0px 20px;
                img{
                    margin-bottom: 30px;
                }
                img:first-child{
                    margin-top: 30px;
                }
            }

            .line:first-child{
                margin-bottom: 0px;
            }

            .line:nth-child(2n){
                margin-top: 0px;
            }
        }
    }
  }

  @media (max-width: 1050px){
     #about{
         .hero{
             height: 450px;
             .hero__content{
                 flex-direction: column-reverse;
                 img{
                     margin-top: 40px;
                 }
                 h1{
                     margin-top: 30px;
                     margin-bottom: 40px;
                 }
             }
         }  
     } 
     #Contact{
         .information__container{
             display: flex;
             flex-direction: column;
             align-content: center;
             justify-content: center;
             div{
                 justify-content: center;
             }
         }
         .socialmedia{
             display: flex;
             justify-content: center;
         }
     }
  }

  @media (max-width: 850px){
    nav{
        .language{
            margin-top: 15px;
        }
        #menu_icon{
            display: block;
        }
        #menu__container{
            display: none;
            .navbar__menu{
                flex-direction: column;
                width: 150px;
                align-items: flex-start;
                a{
                    margin-top: 20px;
                }


            }
        }
    }  

    #about{
        .hero{
            height: 500px;
            .hero__content{
                h1{
                    font-size: 27px;
                }
            }
        }  
        .hero__description{
            h2{
                font-size: 24px;
            }
            p{
                font-size: 18px;
                line-height: 34px;
            }
        }
    } 

    #projects{
        .instructions{
            margin-left: 80px;
        }
    }
  }

  @media (max-width: 600px){

    .wrapper{
        width: 100vw;
    }

    nav{
        .nav__name{
            width: 100%;
        }
    }

    #about{
        .hero{
            height: 650px;
            .hero__content{
                h1{
                    margin: 20px;
                }
                img{
                    margin-top: 40px;
                }
            }
        }  
    } 

    #projects{
            .project-line{
    
                .project__card{
                    width: 350px;
                    height: auto;
                    .card__image{
                        height: auto;
                        img{
                            width: 350px;
                        }
                        .decription__background{
                            height: 180px;
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                    .buttons{
                        width: 100%;
                    }
                }
            }
        
    }

    #Skills{
        h3{
            margin-top: 30px;
        }
        .skills__container{
            margin: 0 auto;
            width: auto;
            overflow: hidden;
        }
    }

    #Contact{
        h2{
            margin-bottom: 40px;
            font-size: 30px;
        }
        .information__container{
            margin: 0 auto;
            width: 100%;

            div{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 300px;
                margin: 0 auto;

                    p{
                        margin-top: 20px;
                        margin-bottom: 30px;
                        width: auto;
                        font-size: 14px;
    
                    }
            }
        }
        .socialmedia{
            width: 100%;
        }
    }
  }

  @media (max-width: 450px){
    .sticky{
        width: 92%;
    }  
    #about{
        .hero{
            height: 450px;
            .hero__content{
                h1{
                    line-height: 40px;
                    font-size: 20px;
                    margin: 20px;
                }
                img{
                    margin-top: 40px;
                }
            }
        }  
        .hero__description{
            h2{
                font-size: 18px;
                line-height: 30px;
            }
            p{
                font-size: 16px;
                line-height: 26px;
            }
        }
    } 

    #projects{
        .instructions{
            margin-left: 10px;
        }
    }
}

