/* Font */

$main-font: 'Poppins', sans-serif;

/* Colors  */

$color-pale-white: #FAFAF7;
$color-yellow: #F4D35E;
$color-liberty-blue: #5762D5;
$color-soft-black: #020402;
$color-paradise-pink: #EC4067;
$color-king-blue: #080357; 
$color-teal: #28AFB0;
$color-hover-black: rgba(4, 3, 18, 0.71);

/* General classes  */

.hide{
    display: none;
}

/* Navbar */

body{
    font-family: $main-font;
}
 
nav{
    background-color: $color-pale-white;
    display: flex;
    font-size: 21px;
    padding: 20px;
/*     position:fixed; 
    width: 100%; */
    .nav__name{
        color: $color-teal;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 30px;
        width: 20%;
    }
    .position{
        color: $color-liberty-blue;
        line-height: 25px;
        font-size: 20px;
        font-weight: 500;
    }
    .navbar__menu{
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        a{
            color: $color-king-blue;
            font-weight: 500;
            cursor: pointer;
            :hover{
                color: $color-yellow;
                transition: 300ms;
            }
        }
        div{
            align-items: center;
            display: flex;
            justify-content: center;
            span{
                margin-left: 10px;
            }
        }
    }

}

#about{
    background-color: $color-king-blue;
    .hero{
        background-image: url("/images/hero-bg.png");
        background-size: cover;
        height: 380px;
        .hero__content{
            background-color: $color-hover-black;
            color: white;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            justify-content: space-around;
            h1{
                font-family: $main-font;
                font-size: 42px;
                line-height: 70px;
                font-weight: 400;
                .blue-rectangle{
                    background-color: $color-liberty-blue;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                .red-rectangle{
                    background-color: $color-paradise-pink;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
}

.hero__description{
    margin: 0 auto;
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    h2{
        color: $color-pale-white;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 45px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        color: $color-pale-white;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .focus{
        font-weight: 600;
        span{
            color: $color-yellow;
        }
    }
}

#projects{
    background-color: $color-liberty-blue;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        color: $color-pale-white;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }
    .instructions{
        align-self: flex-start;
        margin-left: 170px;
        color: $color-pale-white;
        font-size: 20px;
    }
    .project-line{
        display: flex;
        width: 85%;
        margin: 30px 0;
        justify-content: space-around;
        .project__card{
            width: 538px;
            height: 370px;
            background-color: $color-pale-white;
            padding: 15px;
            border-radius: 7px;
            .card__image{
                height: 271px;
                position: relative;
                cursor: pointer;
                .decription__background{
                    align-items: center;
                    background-color: $color-hover-black;
                    color: $color-pale-white;
                    font-size: 18px;
                    line-height: 28px;
                    display: flex;
                    height: 271px;
                    justify-content: center;
                    padding: 0px 20px;
                    position: absolute;
                    top: 0px;
                    p{
                        margin-top: 0px;
                        font-weight: 400;
                    }
                }
            }
            h3{
                font-size: 20px;
                margin-top: 10px;
                font-weight: 600;
                color: $color-teal;
            }
            p{
                font-size: 18px;
                margin-top: 10px;
                font-weight: 500;
            }
            .buttons{
                display: flex;
                width: 60%;
                margin: 0 auto;
                margin-top: 15px;
                justify-content: space-around;
                .github{
                    padding: 5px;
                    text-align: center;
                    width: 120px;
                    border-radius: 5px;
                    color: $color-soft-black;
                    background-color: $color-yellow;
                }
                .deployment{
                    padding: 5px;
                    text-align: center;
                    width: 120px;
                    border-radius: 5px;
                    color: $color-pale-white;
                    background-color: $color-teal;
                }
            }
        }

    }
}

#Skills{
    padding: 40px;
    h2{
        color: $color-king-blue;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }
    h3{
        font-size: 27px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-left: 130px;
    }
    .skills__container{
        width: 80%;
        margin: 0 auto;
        padding: 25px;
        box-shadow:  3px 3px 30px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 40px;
        border-radius: 11px;
        .line{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px 0px;
        }
    }
}